venv/
__pycache__/
*.py[cod]
*$py.class

db.sqlite3
*.sqlite3
*.zip

.env
.env.*

media/
staticfiles/

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/

.postman/
inspect_urls.py
temp_schema*.json

postman/collections/
postman/environments/
postman/globals/

scripts/import_postman.py
